<h2
  tabindex="0"
  mat-dialog-title>
  {{ i18n().title }}
</h2>

<mat-dialog-content>
  <p>{{ i18n().text }}</p>
</mat-dialog-content>

<mat-dialog-actions>
  <button
    mat-button
    (click)="closeAllDialogs()">
    {{ i18n().global.close }}
  </button>
  <span style="flex: 1"></span>
</mat-dialog-actions>
