<div data-nosnippet>
  <h3>Grundsatz</h3>
  <p>Deine personenbezogenen Daten werden vertraulich behandelt. Sämtliche Handlungen sind an die gesetzlichen
    Grundlagen
    des Hessischen Datenschutzgesetzes (HDSG), des Telemediengesetzes (TMG), der Datenschutz-Grundverordnung der EU
    (EU-DSGVO) sowie dieser Datenschutzerklärung gebunden. Dies wird von der TransMIT GmbH als Betreiberin von
    »frag.jetzt«
    garantiert.
  </p>

  <h3>Nutzungs&shy;daten</h3>
  <p>Personenbezogene Daten über die Inanspruchnahme von »frag.jetzt« (Nutzungsdaten) erheben, verarbeiten und nutzen
    wir nur, soweit dies erforderlich
    ist, um dem User die Inanspruchnahme von »frag.jetzt« zu ermöglichen.
    Im Normalfall ist eine Registrierung für die Nutzung von »frag.jetzt« nicht erforderlich.<br>
    <br>
    Es gibt zwei Ausnahmen:
    erstens, der/die Raumersteller*in will eigene Räume auf dem Server von »frag.jetzt« dauerhaft speichern,
    und zweitens, ein User soll als Moderator*in eines Raumes dauerhaft aufgenommen werden.
    In beiden Fällen muss eine gültige Mailadresse als Anmeldenamen verwaltet werden.
    Raumersteller*innen, die Moderator*innen in ihren Raum aufnehmen, haben Kenntnis von deren Mailadressen.<br>
    <br>
    Als Gast, d. h. anonym ohne Registrierung erstellte Räume und Boni werden gelöscht,
    sobald man den Web-Storage des Browsers löscht.
    Von registrierten Usern erstellte Räume sind Bestandteil derer Konten und können von diesen gelöscht werden.
    Mit einem Konto erstellte Räume werden 180 Tage nach dem letzten Besuch / Login gelöscht.
  </p>

  <h3>Zugriffs&shy;daten</h3>
  <p> Personenbezogene Daten werden nur im technisch notwendigen Umfang von »frag.jetzt« erhoben.
    Außer der Mailadresse als Anmeldename eines registrierten Users werden keine personenbezogenen Daten gespeichert.
  </p>

  <h3>Externes Hosting</h3>

  <p>»frag.jetzt« wird beim externen Dienstleister
    <a class="info" href="https://www.hetzner.com/" target="_blank" rel="noopener">Hetzner Online GmbH</a>
    auf einem Server in Deutschland gehostet.
    Die personenbezogenen Daten, die auf dieser Website erfasst werden, werden auf den Servern des Hosters gespeichert.
    Der Einsatz eines professionellen Hosters erfolgt im Interesse einer sicheren, schnellen und zuverlässigen
    Bereitstellung unseres Online-Angebots (Art. 6 Abs. 1 lit. f DSGVO).
  </p>

  <p>
    Die Hetzner Online GmbH lässt stellvertretend durch den TÜV Rheinland jährlich einen Prüfbericht anfertigen.
    Dieser gewährleistet, dass alle Sicherheitsstandards nach Anlage 2 des AV-Vertrages
    (Technische und organisatorische Maßnahmen nach Art. 32 DS-GVO und Anlage) erfüllt sind.
  </p>

  <h3>Log&shy;-Da&shy;teien</h3>
  <p>Wir erheben und speichern automatisch Informationen in Log-Dateien, die dein Browser automatisch an uns
    übermittelt.
    Dies sind:

    Browsertyp und Browserversion,
    verwendetes Betriebssystem,
    Referrer URL,
    IP-Adresse,
    Hostname des zugreifenden Rechners und Uhrzeit der Serveranfrage.
    Diese Daten sind nicht bestimmten Personen zuordbar.
    Eine Zusammenführung dieser Daten mit anderen Datenquellen wird nicht vorgenommen.
    Wir protokollieren die Logdaten des »frag.jetzt«-Webservers maximal 30 Tage lang.
  </p>

  <h3>Matomo</h3>

  <p>
    Dieses Angebot benutzt Matomo (ehemals Piwik), eine Open-Source-Software zur statistischen Auswertung der Zugriffe.
    Matomo verwendet Cookies, die auf deinem Rechner gespeichert werden und die eine Analyse der Benutzung von
    »frag.jetzt« ermöglichen.
    Die durch Cookies erzeugten Informationen über die Benutzung dieses Angebotes werden auf dem Server von »frag.jetzt«
    in Deutschland gespeichert.
    Die IP-Adresse wird sofort nach der Verarbeitung und vor deren Speicherung durch Kürzung der IP-Adresse
    anonymisiert.
    Ein Rückschluss auf deine Person ist uns nicht möglich.
    Weitere Informationen zu den Nutzungsbedingungen von Matomo und den datenschutzrechtlichen Regelungen findest du
    unter:
    <a class="info" href="https://matomo.org/privacy/" target="_blank"
      rel="noopener">https://matomo.org/privacy/</a>.
  </p>

  <p>
    Matomo-Cookies verbleiben auf deinem Endgerät, bis du sie löscht.
    Die Speicherung von Matomo-Cookies und die Nutzung dieses Analyse-Tools erfolgen auf Grundlage von
    Art. 6 Abs. 1 lit. f DSGVO.
    Der Websitebetreiber hat ein berechtigtes Interesse an der anonymisierten Analyse des Nutzerverhaltens,
    um sein Webangebot zu optimieren.
    Die durch den Cookie erzeugten Informationen über die Benutzung dieser Website werden nicht an Dritte weitergegeben.
  </p>

  <h3>Web-Storage</h3>
  <p>»frag.jetzt« verwendet die sogenannte Web-Storage-Technik.
    Dabei werden Daten lokal im Cache deines Browsers zeitlich unbegrenzt gespeichert,
    die auch nach dem Schließen des Browser-Fensters oder dem Beenden des Programms – solange du den Cache nicht löscht
    – bestehen und ausgelesen werden können.
  </p>

  <p>
    Im Web-Storage deines Browsers speichern wir die folgenden Nutzungsdaten:
    Annahme unserer Datenschutzerklärung,
    Lesebestätigung der »frag.jetzt«-News,
    gewählte Spracheinstellung (Deutsch, Englisch oder Französisch),
    Absolvierung der Onboarding-Tour,
    Anzeigeeinstellungen,
    ob als Gast oder registrierter User angemeldet,
    User-ID und, falls angemeldet, die Mailadresse als Anmeldenamen,
    besuchte Räume und dort eingenommene Rolle (Raumersteller*in, Moderator*in oder Teilnehmer*in),
    und ob ein Beitrag geschrieben wurde (nur wer mindestens einen Beitrag geschrieben hat, kann die Web-App
    »frag.jetzt« bewerten).
    Diese Daten können über die Browser-Tools eingesehen und lokal gelöscht werden.
  </p>

  <h3>
    Nutzung von ChatGPT
  </h3>

  <p>
    Verantwortliche Stelle im Sinne der Datenschutz-Grundverordnung (DSGVO) ist die OpenAI Inc. mit Sitz in San
    Francisco, USA.
  </p>

  <p>
    Die OpenAI API verarbeitet keine personenbezogenen Daten. Deine Nutzungsdaten werden auf Servern außerhalb der
    Europäischen Union gespeichert. Eine Weitergabe deiner personenbezogenen Daten an Dritte erfolgt nicht, es sei denn,
    dass hierzu eine gesetzliche Verpflichtung besteht.
  </p>

  <p>
    Die über die OpenAI API übermittelten Daten werden zum Zwecke der Missbrauchs- und Fehlerkontrolle für maximal 30
    Tage gespeichert, es sei denn, es besteht eine gesetzliche Verpflichtung zu einer längeren Speicherung.
  </p>

  <p>
    Bevor du ChatGPT zum ersten Mal auf der Plattform frag.jetzt aufrufst, musst du die Datenschutzerklärung von OpenAI
    akzeptieren (Opt-In). Andernfalls kannst du ChatGPT nicht nutzen.
  </p>

  <p>
    Du hast das Recht, deine Einwilligung jederzeit zu widerrufen, ohne dass die Rechtmäßigkeit der aufgrund der
    Einwilligung bis zum Widerruf erfolgten Verarbeitung berührt wird. Gehe in diesem Fall zu deinen Profileinstellungen
    im Optionsmenü des Raumes und widerrufe deine Einwilligung.
  </p>

  <h3>
    DeepL.com
  </h3>

  <p>
    Das Konzept von »frag.jetzt« beinhaltet die Rückübersetzung einer Frage
    durch den Online-Übersetzungsdienst Deepl.com, siehe unsere Erläuterung in der Einführung.
    Wenn du bei der Eingabe einer Frage auf den Button »Text optimieren mit KI« klickst,
    wird ausschließlich der Text an die API von DeepL.com übermittelt.
    Deine IP-Adresse wird nicht übermittelt.
    Die API-Abfrage erfolgt über eine verschlüsselte Verbindung.
    Über die Einhaltung des Datenschutzes durch DeepL.com
    kannst du dich auf der folgenden Seite informieren:
    <a class="info" href="https://www.deepl.com/de/privacy" target="_blank"
      rel="noopener">https://www.deepl.com/de/privacy</a>.
  </p>

  <h3>Daten&shy;sicherheit</h3>

  <p>Es wurden umfangreiche technische und betriebliche Schutzvorkehrungen getroffen, um deine Daten vor zufälligen oder
    vorsätzlichen Manipulationen, Verlust, Zerstörung oder dem Zugriff unberechtigter Personen zu schützen. Die
    Sicherheitsverfahren werden regelmäßig überprüft und dem technologischen Fortschritt angepasst. Datenübertragungen
    im Internet (z. B. bei der Kommunikation per E-Mail) können jedoch Sicherheitslücken aufweisen, sodass ein
    lückenloser Schutz der Daten vor dem Zugriff durch Dritte nicht möglich ist.
  </p>

  <h3>Daten&shy;über&shy;mitt&shy;lun&shy;gen an Dritte</h3>

  <p>Eine Übermittlung deiner Daten an Dritte findet nicht statt, es sei denn, die Betreiber von »frag.jetzt« sind
    gesetzlich dazu verpflichtet. Soweit externe Dienstleister mit deinen personenbezogenen Daten in Kontakt kommen,
    wird durch
    rechtliche, technische und organisatorische Maßnahmen sowie durch regelmäßige Kontrollen sichergestellt, dass diese
    die Vorschriften der Datenschutzgesetze einhalten.
  </p>

  <p>
    Mit der Hetzner Online GmbH, dem externen Hoster von »frag.jetzt«,
    wurde ein Vertrag zur Auftragsverarbeitung (AV-Vertrag) gemäß Art. 28 DSGVO abgeschlossen.
  </p>

  <h3>Einbinden von Drittanbietern</h3>

  <p>
    User haben an mehreren Stellen in »frag.jetzt« (Fragen, Antworten, Raumbeschreibungen) die Möglichkeit,
    Videos von Youtube oder Vimeo einzubinden.
    Wenn du eine unserer Webseiten besuchst, auf denen einer der genannten Drittanbieter eingebunden ist,
    wird eine Verbindung zu dessen Servern hergestellt.
    Dabei wird dem Server mitgeteilt, welche unserer Seiten du besucht hast.
  </p>

  <p>
    Des Weiteren kann der Anbieter verschiedene Cookies auf deinem Endgerät speichern
    oder vergleichbare Technologien zur Wiedererkennung verwenden.
    Auf diese Weise kann der Drittanbieter Informationen über User dieser Website erhalten.
    Die Informationen werden u. a. verwendet, um Statistiken zu erfassen,
    die Anwenderfreundlichkeit zu verbessern oder Betrugsversuchen vorzubeugen.
  </p>

  <p>
    Bitte beachte die folgenden Datenschutzerklärungen der Video-Anbieter:
  </p>
  <ul>
    <li>Youtube: Google LLC
      <a class="info" href="https://policies.google.com/privacy" target="_blank"
        rel="noopener">https://policies.google.com/privacy</a>
    </li>
    <li>Vimeo: Vimeo LLC
      <a class="info" href="https://vimeo.com/privacy" target="_blank"
        rel="noopener">https://vimeo.com/privacy</a>
    </li>
  </ul>

  <h3>Links zu Webseiten anderer Anbieter</h3>

  <p>»frag.jetzt« kann Links zu Webseiten anderer Anbieter enthalten,
    auf die sich diese Datenschutzerklärung nicht bezieht.
    Soweit mit der Nutzung der Internetseiten anderer Anbieter die Erhebung, Verarbeitung oder Nutzung personenbezogener
    Daten verbunden ist, beachte bitte die Datenschutzhinweise der jeweiligen Anbieter.
  </p>

  <h3>Widerspruchs&shy;recht und Auskunfts&shy;recht</h3>

  <p>Du hast jederzeit das Recht auf unentgeltliche Auskunft über deine gespeicherten personenbezogenen Daten, deren
    Herkunft und Empfänger, den Zweck der Datenverarbeitung sowie ein Recht auf Berichtigung, Sperrung oder Löschung
    dieser Daten.

    Solltest du dich bei »frag.jetzt« registriert haben,
    so kannst du jederzeit selbst alle deine personenbezogenen Daten – dein Konto mit allen Räumen und Inhalten –
    löschen.
    Gehe hierzu nach dem Einloggen auf die Raumübersicht und klicke unter Optionen auf »Konto löschen«.

    Bei Unklarheiten oder Anregungen wende dich an folgende E-Mail-Adresse oder an die im Impressum angegebenen
    Kontaktdaten: <br>
    <a class="info" href="mailto:klaus.quibeldey-cirkel@transmit.de">klaus.quibeldey-cirkel&shy;&#64;transmit.de</a>.

  </p>

  <h3>Verzeichnis von Ver&shy;arbeitungs&shy;tätig&shy;kei&shy;ten</h3>
  <p>Eine Übersicht über die in »frag.jetzt« verarbeiteten personenbezogenen Daten findest bei
    <a class="info" href="https://github.com/thm-projects/frag.jetzt" target="_blank"
      rel="noreferrer noopener">GitHub
    </a>.
  </p>

  <h3>Änderungen der Daten&shy;schutz&shy;er&shy;klärung</h3>
  <p>Wir behalten uns das Recht vor, diese Datenschutzerklärung jederzeit unter Beachtung der geltenden
    Datenschutzvorschriften zu ändern.
  </p>

  <p>Letzte Aktualisierung: 19. März 2023</p>
</div>
