<div data-nosnippet>
  <h3>Principle</h3>
  <p>Your personal data will be treated confidentially.
    All actions are bound to the legal principles of the Hessian Data Protection Act (HDSG),
    the Telemedia Act (TMG), the EU Data Protection Basic Regulation (EU-GDPR) and this data protection declaration.
    This is guaranteed by TransMIT GmbH as operator of »frag.jetzt«.
  </p>

  <h3>Usage data</h3>
  <p>We collect, process and use personal data about the use of »frag.jetzt« (usage data) only to the extent necessary
    to enable the user to use »frag.jetzt«.
    Normally a registration for the use of »frag.jetzt« is not necessary.<br>
    <br>
    There are two exceptions:
    firstly, the room creator wants to permanently store his/her own rooms on the server of »frag.jetzt«,
    and secondly, a user is to be permanently accepted as a moderator of a room.
    In both cases, a valid e-mail address must be used as the login name.
    A lecturer, who includes a moderator in his/her room, has knowledge of the moderator's mail address.<br>
    <br>
    Rooms and bonuses created as a guest, i.e. anonymously without registration,
    are deleted as soon as you delete the web storage of your browser.
    Rooms created by registered users are part of their accounts and can be deleted by them.
    Rooms created with an account will be deleted 180 days after the last visit / login.
  </p>

  <h3>Access data </h3>
  <p> Personal data will only be collected to the technically necessary extent of »frag.jetzt«. Apart from the e-mail
    address as the login name of a registered user, no personal data is stored.
  </p>

  <h3>External hosting</h3>

  <p>
    »frag.jetzt« is hosted by the external service provider
    <a class="info" href="https://www.hetzner.com/" target="_blank" rel="noopener">Hetzner Online GmbH</a>
    on a server in Germany.
    The personal data collected on this website is stored on the hoster's servers.
    The use of a professional hoster is in the interest of a secure, fast and reliable provision of our online offer
    (Art. 6 para. 1 lit. f GDPR).
  </p>

  <p>
    Hetzner Online GmbH has an annual audit report prepared by TÜV Rheinland on its behalf.
    This ensures that all security standards according to Annex 2 of the AV contract
    (technical and organizational measures according to Art. 32 GDPR and Annex) are met.
  </p>

  <h3>Log files</h3>
  <p>We automatically collect and store information in log files that your browser automatically transmits to us.
    These are:
    browser type and browser version,
    operating system used,
    referrer URL,
    hostname of the accessing computer and
    time of the server request.
    This data cannot be assigned to specific persons. This data is not merged with other data sources.
    We record the log data of the »frag.jetzt« web server for a maximum of 30 days.
  </p>

  <h3>Matomo</h3>

  <p>
    This offer uses Matomo (formerly Piwik), an open source software for statistical analysis of the accesses.
    Matomo uses cookies, which are stored on your computer and which allow an analysis of the usage of »frag.jetzt«.
    The information generated by the cookies about the use of this offer is stored on the server of »frag.jetzt« in
    Germany.
    The IP address is anonymized immediately after processing and before saving it by shortening the IP address.
    A conclusion on your person is not possible for us.
    You can find further information on the Matomo terms of use and the data protection regulations at
    <a class="info" href="https://matomo.org/privacy/" target="_blank" rel="noopener">https://matomo.org/privacy/</a>.
  </p>

  <p>
    Matomo cookies remain on your end device until you delete them.
    The storage of Matomo cookies and the use of this analysis tool are based on Art. 6 para. 1 lit. f GDPR.
    The website operator has a legitimate interest in the anonymized analysis of user behavior in order to optimize its
    website.
    The information generated by the cookie about the use of this website will not be disclosed to third parties.
  </p>

  <h3>Web Storage</h3>
  <p>»frag.jetzt« uses the so-called web storage technology.
    In this process, data is stored locally in your browser's cache for an unlimited period of time,
    and can still exist and be read after you close the browser window or exit the program -
    as long as you do not delete the cache.
  </p>

  <p>
    In your browser's web storage, we store the following usage data:
    Acceptance of our privacy policy,
    read confirmation of the "frag.jetzt" news,
    selected language setting (German, English or French),
    completion of the onboarding tour,
    display settings,
    whether logged in as guest or registered user,
    user ID and, if logged in, the mail address as login name,
    visited rooms and taken role (room creator, moderator or participant),
    and whether a post has been written
    (only those who have written at least one post can rate the »frag.jetzt« web app).
    This data can be viewed via the browser tools and deleted locally.
  </p>

  <h3>
    Use of ChatGPT
  </h3>
  <p>
    The responsible entity for the purposes of the General Data Protection Regulation (GDPR) is OpenAI Inc., based in
    San
    Francisco, USA.
  </p>
  <p>
    The OpenAI API does not process any personal data. Your usage data will be stored on servers outside of the
    European Union. Your personal data will not be shared with third parties unless there is a legal obligation to do
    so.
  </p>
  <p>
    The data transmitted through the OpenAI API is stored for a maximum of 30 days for the purposes of abuse and error
    control, unless there is a legal obligation to store it for a longer period.
  </p>
  <p>
    Before you first access ChatGPT on the platform frag.jetzt, you must accept OpenAI's privacy policy (opt-in).
    Otherwise, you cannot use ChatGPT.
  </p>
  <p>
    You have the right to revoke your consent at any time without affecting the lawfulness of processing based on your
    consent before its withdrawal. In this case, go to your profile settings in the room's options menu and revoke your
    consent.
  </p>

  <h3>
    DeepL.com
  </h3>

  <p>
    The concept of »frag.jetzt« involves the back translation of a question
    by the online translation service Deepl.com, see our explanation in the introduction.
    If you click on the »Optimize text« button when entering a question,
    only the text will be sent to the API of DeepL.com.
    Your IP address will not be transmitted.
    The API request is made over an encrypted connection.
    About the compliance with data protection by DeepL.com
    you can inform yourself on the following page:
    <a class="info" href="https://www.deepl.com/de/privacy" target="_blank"
      rel="noopener">https://www.deepl.com/de/privacy</a>.
  </p>

  <h3>Data security</h3>
  <p>Comprehensive technical and operational protective measures have been taken to protect your data from accidental or
    intentional manipulation, loss, destruction or access by unauthorized persons. The security procedures are regularly
    reviewed and adapted to technological progress. However, data transmissions on the Internet (e.g. when communicating
    by e-mail) can have security gaps, so that complete protection of the data against access by third parties is not
    possible.
  </p>

  <h3>Data transfers to third parties</h3>
  <p>A transmission of your data to third parties does not take place, unless the operators of »frag.jetzt« are legally
    obliged to do so. Insofar as external service providers come into contact with your personal data, legal, technical
    and organisational measures as well as regular checks will ensure that this data is not passed on to third parties.
    comply with the provisions of the data protection laws.
  </p>

  <p>
    With Hetzner Online GmbH, the external hoster of »frag.jetzt«,
    a contract for commissioned processing (AV contract) was concluded in accordance with Art. 28 DSGVO.
  </p>

  <h3>Integrating third-party providers</h3>

  <p>
    Users have the option of embedding videos from Youtube or Vimeo at several points in »frag.jetzt«
    (questions, answers, room descriptions).
    If you visit one of our websites on which one of the aforementioned third-party providers is embedded,
    a connection is established to their servers.
    This tells the server which of our pages you have visited.
  </p>

  <p>
    Furthermore,
    the provider may store various cookies on your end device or use comparable technologies for recognition.
    In this way, the third-party provider can obtain information about users of this website.
    The information is used, among other things, to collect statistics, improve the user experience or prevent fraud
    attempts.
  </p>

  <p>
    Please read the following privacy statements of the video providers:
  </p>
  <ul>
    <li>Youtube: Google LLC
      <a class="info" href="https://policies.google.com/privacy" target="_blank"
        rel="noopener">https://policies.google.com/privacy</a>
    </li>
    <li>Vimeo: Vimeo LLC
      <a class="info" href="https://vimeo.com/privacy" target="_blank"
        rel="noopener">https://vimeo.com/privacy</a>
    </li>
  </ul>

  <h3>Links to websites of other providers</h3>
  <p>»frag.jetzt« may contain links to other websites which are not covered by this privacy statement. If the
    collection, processing or use of personal data is associated with the use of the Internet pages of other providers,
    please observe the data protection information of the respective providers.
  </p>

  <h3>Right to object and right to information </h3>
  <p>You have the right at any time to free information about your stored personal data, their origin and recipient, the
    purpose of data processing and a right to correction, blocking or deletion of this data.

    If you have registered with »frag.jetzt«,
    you can delete all your personal data - your account with all rooms and content - yourself at any time.
    To do this, go to the room after logging in and click on »Delete account« under Options.

    In case of ambiguities or suggestions, please contact the following e-mail address or the contact details given in
    the imprint:
    <a class="info" href="mailto:klaus.quibeldey-cirkel@transmit.de">klaus.quibeldey-cirkel&shy;&#64;transmit.de</a>.

  </p>

  <h3>Directory of processing activities </h3>
  <p>You can find an overview of the personal data processed in »frag.jetzt« at
    <a class="info" href="https://github.com/thm-projects/frag.jetzt" target="_blank"
      rel="noreferrer noopener">GitHub
    </a>.
  </p>

  <h3>Changes to the Data Protection & Privacy Policy</h3>
  <p>We reserve the right to change this data protection statement at any time in accordance with the applicable data
    protection regulations.
  </p>

  <p>Last updated: March 19, 2023</p>
</div>
