<div data-nosnippet>

  <h3>Principe de base</h3>
  <p>Tes données personnelles sont traitées de manière confidentielle. Toutes les actions sont soumises aux bases
    légales
    de la loi sur la protection des données du Land de Hesse (HDSG), de la loi sur les télémédias (TMG),
    du règlement général sur la protection des données de l'UE
    (RGPD) ainsi que la présente déclaration de protection des données.
    Ceci est garanti par TransMIT GmbH en tant qu'exploiteur de «&nbsp;frag.jetzt&nbsp;».
  </p>

  <h3>Données d'utilisation</h3>
  <p>Nous ne collectons, traitons et utilisons les données personnelles relatives à l'utilisation de la plate-forme
    «&nbsp;frag.jetzt&nbsp;»
    (données d'utilisation) que dans la mesure où cela est nécessaire
    pour permettre à l'utilisateur d'utiliser «&nbsp;frag.jetzt&nbsp;».
    En règle générale, il n'est pas nécessaire de s'enregistrer pour utiliser «&nbsp;frag.jetzt&nbsp;».<br>
    <br>
    Il y a deux exceptions&nbsp;: premièrement,
    quand le créateur de la salle veut sauvegarder de manière permanente ses propres salles sur le serveur de
    «&nbsp;frag.jetzt&nbsp;»,
    et deuxièmement, quand un utilisateur doit être enregistré de manière permanente en tant que modérateur dans une
    salle.
    Dans les deux cas, une adresse mail valide doit être gérée comme nom de connexion.
    Les créateurs de salles qui acceptent des modérateurs dans leur session ont connaissance de leurs adresses mail.<br>
    <br>
    Les salles et les bonus créés en tant qu'invité, c'est-à-dire de manière anonyme sans enregistrement,
    sont supprimés dès que l'on supprime le stockage web de son navigateur.
    Les salles créées par des utilisateurs enregistrés font partie intégrante de leurs comptes
    et peuvent être supprimées par ces derniers.
    Les salles créées avec un compte sont supprimées 180 jours après la dernière visite / connexion.
  </p>

  <h3>Données d'accès</h3>
  <p> Les données personnelles ne sont collectées par «&nbsp;frag.jetzt&nbsp;» que dans la mesure où cela est
    techniquement nécessaire.
    Aucune donnée personnelle n'est enregistrée, à l'exception de l'adresse mail servant de nom de connexion à un
    utilisateur enregistré.
  </p>

  <h3>Hébergement externe</h3>
  <p>
    « frag.jetzt » est hébergé par le prestataire de services externe
    <a class="info" href="https://www.hetzner.com/" target="_blank" rel="noopener">Hetzner Online GmbH</a>
    sur un serveur situé en Allemagne.
    Les données personnelles collectées sur ce site sont stockées sur les serveurs du prestataire.
    Le recours à un prestataire d'hébergement professionnel s'effectue dans l'intérêt d'une mise à disposition sûre,
    rapide et fiable de notre offre en ligne (article 6, paragraphe 1, point f du RGPD).
  </p>

  <p>
    La société Hetzner Online GmbH demande chaque année au TÜV Rheinland d'établir un rapport de contrôle.
    Celui-ci garantit que tous les standards de sécurité selon l'annexe 2 du contrat AV (mesures techniques
    et organisationnelles selon l'art. 32 du RGPD et annexe) soient remplis.
  </p>

  <h3>Fichiers log</h3>
  <p>
    Nous collectons et enregistrons automatiquement dans des fichiers log les informations que ton navigateur nous
    transmet automatiquement.
    Il s'agit de&nbsp;:
    type et version du navigateur,
    le système d'exploitation utilisé,
    l'URL de référence,
    l'adresse IP,
    le nom d'hôte de l'ordinateur qui accède au site ainsi que l'heure de la demande du serveur.
    Ces données ne peuvent pas être attribuées à des personnes précises.
    Nous ne procédons pas à un regroupement de ces données avec d'autres sources de données.
    Nous conservons les données des fichiers journaux du serveur web « frag.jetzt » pendant 30 jours au maximum.
  </p>

  <h3>Matomo</h3>

  <p>
    Cette offre utilise Matomo (autrefois Piwik), un logiciel open source pour l'évaluation statistique des accès.
    Matomo utilise des cookies qui sont stockés sur ton ordinateur et qui permettent d'analyser l'utilisation de
    «&nbsp;frag.jetzt&nbsp;».
    Les informations générées par les cookies sur l'utilisation de cette offre sont enregistrées sur le serveur de
    «&nbsp;frag.jetzt&nbsp;» en Allemagne.
    L'adresse IP est anonymisée immédiatement après le traitement et avant son enregistrement par raccourcissement de
    l'adresse IP.
    Il ne nous est pas possible d'établir un lien avec ta personne.

    Tu trouveras plus d'informations sur les conditions d'utilisation de Matomo
    et les dispositions relatives à la protection des données sur la page suivante&nbsp;:
    <a class="info" href="https://matomo.org/privacy/" target="_blank"
      rel="noopener">https://matomo.org/privacy/</a>.
  </p>

  <p>
    Les cookies de Matomo restent sur ton terminal jusqu'à ce que tu les supprimes.
    Le stockage des cookies de Matomo et l'utilisation de cet outil d'analyse sont basés sur
    l'article 6, paragraphe 1, point f du RGPD.
    L'exploitant du site web a un intérêt légitime à l'analyse anonymisée du comportement des utilisateurs
    afin d'optimiser son offre web.
    Les informations générées par le cookie concernant l'utilisation de ce site web ne sont pas transmises à des tiers.
  </p>

  <h3>Stockage web</h3>

  <p>
    «&nbsp;frag.jetzt&nbsp;» utilise la technique dite du «&nbsp;web storage&nbsp;».
    Dans ce cas, les données sont stockées localement dans le cache de ton navigateur pour une durée illimitée.
    Elles restent en place et peuvent être lues même après la fermeture de la fenêtre du navigateur ou la fin du
    programme –
    tant que tu ne supprimes pas le cache.
  </p>

  <p>
    Nous enregistrons les données d'utilisation suivantes dans la mémoire web de ton navigateur :
    Acceptation de notre déclaration de protection des données, confirmation de lecture des news « frag.jetzt »,
    choix de la langue (allemand, anglais ou français), réalisation du tour de l'onboarding, paramètres d'affichage,
    connexion en tant qu'invité ou utilisateur enregistré, nom d'utilisateur
    et, si connecté, adresse mail en tant que nom de connexion, salles visitées et rôle qui y est tenu
    (créateur de salle, modérateur ou participant), et si une contribution a été écrite
    (seules les personnes ayant écrit au moins une contribution peuvent évaluer l'application web « frag.jetzt »).
    Ces données peuvent être consultées via les outils de navigation et supprimées localement.
  </p>

  <h3>
    Utilisation de ChatGPT
  </h3>

  <p>
    Le service responsable au sens du règlement général sur la protection des données (RGPD) est OpenAI Inc. dont le
    siège est à San Francisco, États-Unis.
  </p>

  <p>
    L'API OpenAI ne traite pas de données à caractère personnel. Tes données d'utilisation sont stockées sur des
    serveurs situés en dehors de l'Union Européenne. Tes données personnelles ne sont pas transmises à des tiers, à
    moins qu'il n'existe une obligation légale de le faire.
  </p>

  <p>
    Les données transmises via l'API OpenAI sont stockées pendant 30 jours maximum à des fins de contrôle des abus et
    des erreurs, à moins qu'il n'existe une obligation légale de les stocker plus longtemps.
  </p>

  <p>
    Avant d'utiliser ChatGPT pour la première fois sur la plateforme frag.jetzt, tu dois accepter la déclaration de
    confidentialité d'OpenAI (opt-in). Dans le cas contraire, tu ne pourras pas utiliser ChatGPT.
  </p>

  <p>
    Tu as le droit de retirer ton consentement à tout moment, sans que la légalité du traitement effectué sur la base du
    consentement jusqu'au retrait ne soit affectée. Dans ce cas, va consulter les paramètres de ton profil dans le menu
    d'options de la salle et retire ton consentement.
  </p>

  <h3>
    DeepL.com
  </h3>

  <p>
    Le concept de «&nbsp;frag.jetzt&nbsp;» implique la retraduction d'une question
    par le service de traduction en ligne Deepl.com, voir notre explication dans l'introduction.
    Si tu cliques sur le bouton «&nbsp;Optimiser le texte avec l'IA&nbsp;» lors de la soumission d'une question,
    seul le texte est transmis à l'API de DeepL.com.
    Ton adresse IP n'est pas transmise.
    L'interrogation de l'API s'effectue via une connexion cryptée.
    Tu peux t'informer sur le respect de la protection des données par DeepL.com en consultant la page suivante&nbsp;:
    <a class="info" href="https://www.deepl.com/de/privacy" target="_blank"
      rel="noopener">https://www.deepl.com/de/privacy</a>.
  </p>

  <h3>Données sécurité</h3>

  <p>
    D'importantes mesures de protection techniques et opérationnelles ont été prises
    pour protéger tes données contre les dommages accidentels ou les manipulations intentionnelles,
    la perte, la destruction ou l'accès par des personnes non autorisées.
    Les procédures de sécurité sont régulièrement contrôlées et adaptées aux progrès technologiques.
    Les transmissions de données sur Internet (par exemple lors de la communication par e-mail)
    peuvent toutefois présenter des failles de sécurité,
    de sorte qu'une sécurité absolue ne peut pas être garantie.
    Une protection sans faille des données contre l'accès par des tiers n'est pas possible.
  </p>

  <h3>Transmission de données à des tiers</h3>

  <p>
    Tes données ne sont pas transmises à des tiers,
    à moins que les exploiteurs de «&nbsp;frag.jetzt&nbsp;» n'y soient contraints par la loi.
    Dans la mesure où des prestataires de services externes entrent en contact avec tes données personnelles,
    des mesures juridiques, techniques et organisationnelles ainsi que des contrôles réguliers garantissent
    que ces derniers respectent les dispositions des lois sur la protection des données.
  </p>

  <p>
    Un contrat de traitement des commandes a été conclu avec Hetzner Online GmbH,
    le prestataire de services externe de «&nbsp;frag.jetzt&nbsp;», conformément à l'article 28 du RGPD.
  </p>

  <h3>Intégration de fournisseurs tiers</h3>

  <p>
    Les utilisateurs ont la possibilité d'intégrer des vidéos de Youtube ou Vimeo à plusieurs endroits de
    «&nbsp;frag.jetzt&nbsp;»
    (questions, réponses, descriptions des salles).
    Lorsque tu visites l'une de nos pages web sur laquelle l'un des fournisseurs tiers mentionnés est intégré,
    une connexion est établie avec le serveur de ce dernier.
    Le serveur est alors informé des pages que tu as visitées.
  </p>

  <p>
    En outre,
    le fournisseur peut enregistrer différents cookies sur ton terminal
    ou utiliser des technologies comparables pour te reconnaître.
    De cette manière,
    le fournisseur tiers peut obtenir des informations sur les utilisateurs de ce site web.
    Ces informations sont utilisées, entre autres, pour collecter des statistiques,
    améliorer la convivialité ou prévenir les tentatives de fraude.
  </p>

  <p>
    Merci de prendre connaissance des déclarations de confidentialité suivantes des fournisseurs de vidéos :
  </p>
  <ul>
    <li>Youtube: Google LLC
      <a class="info" href="https://policies.google.com/privacy" target="_blank"
        rel="noopener">https://policies.google.com/privacy</a>
    </li>
    <li>Vimeo: Vimeo LLC
      <a class="info" href="https://vimeo.com/privacy" target="_blank"
        rel="noopener">https://vimeo.com/privacy</a>
    </li>
  </ul>

  <h3>Liens vers des sites web d'autres fournisseurs</h3>

  <p>
    «&nbsp;frag.jetzt&nbsp;» peut contenir des liens vers des sites Internet d'autres fournisseurs
    auxquels cette déclaration de protection des données ne s'applique pas.
    Dans la mesure où l'utilisation des sites Internet d'autres fournisseurs implique la collecte,
    le traitement ou l'utilisation de données à caractère personnel,
    merci bien de consulter les informations relatives à la protection des données des fournisseurs concernés.
  </p>

  <h3>Droit d'opposition et droit d'accès</h3>

  <p>
    Tu as à tout moment le droit d'obtenir gratuitement des informations sur tes données personnelles enregistrées,
    leur origine et leur destinataire, la raison du traitement des données ainsi qu'un droit de rectification,
    de blocage ou de suppression de ces données.
    Si tu t'es enregistré sur «&nbsp;frag.jetzt&nbsp;»,
    tu peux à tout moment supprimer toi-même toutes tes données personnelles -
    ton compte avec tous les espaces et contenus.
    Pour faire cela, va sur l'aperçu des salles après t'être connecté et clique sur «&nbsp;Supprimer le compte&nbsp;»
    sous Options.
    En cas de doute ou de suggestion, adresse-toi à l'adresse mail suivante ou aux coordonnées indiquées dans les
    mentions légales&nbsp;:
    <a class="info" href="mailto:klaus.quibeldey-cirkel@transmit.de">klaus.quibeldey-cirkel&#64;transmit.de</a>.
  </p>

  <h3>Registre des activités de traitement</h3>
  <p>Pour un aperçu des données à caractère personnel traitées dans «&nbsp;frag.jetzt&nbsp;», voir
    <a class="info" href="https://github.com/thm-projects/frag.jetzt" target="_blank"
      rel="noreferrer noopener">GitHub.
    </a>
  </p>

  <h3>Modifications de la protection des données</h3>

  <p>
    Nous nous réservons le droit de modifier à tout moment la présente protection des données,
    dans le respect de la législation en vigueur en matière de protection des données.
  </p>

  <p>Dernière mise à jour : 19 mars 2023</p>
</div>
