<div
  *ngIf="isLoading"
  fxLayout="column"
  fxLayoutAlign="center"
  fxFill>
  <div
    fxLayout="row"
    fxLayoutAlign="center">
    <app-mat-spinner-overlay
      [diameter]="80"
      [strokeWidth]="8"></app-mat-spinner-overlay>
  </div>
</div>

<h2 mat-dialog-title>
  {{ i18n().header }}
</h2>

<div
  mat-dialog-content
  class="flexbox-container">
  <!-- dialog capital -->
  @if (bonusTokens.length >= 1 && tableDataSource.data.length > 0) {
    <!-- search field -->
    <mat-form-field class="flex-item">
      <mat-label>Code</mat-label>
      <input
        matInput
        appAccessibilityEscapedInput
        type="text"
        [(ngModel)]="value"
        (ngModelChange)="applyFilter(value)" />
      @if (value) {
        <button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="value = ''">
          <mat-icon>close</mat-icon>
        </button>
      }
    </mat-form-field>
    <!-- table -->
    <div class="table-container">
      <table
        matSort
        (matSortChange)="sortData($event)"
        mat-table
        [dataSource]="tableDataSource"
        class="list-entries mat-elevation-z8"
        aria-describedby="roomTable"
        aria-label="This table shows all available rooms.">
        <!-- number -->
        <ng-container
          matColumnDef="questionNumber"
          aria-hidden="true">
          <th
            mat-header-cell
            mat-sort-header
            sortActionDescription="Sort by questionNumber"
            *matHeaderCellDef>
            {{ i18n().questionNumber }}
          </th>
          <td
            mat-cell
            class="clickable"
            *matCellDef="let bonusToken"
            (click)="navToComment(bonusToken.commentId)">
            {{ bonusToken.questionNumber }}
          </td>
        </ng-container>

        <!-- token -->
        <ng-container
          matColumnDef="token"
          aria-hidden="true">
          <th
            mat-header-cell
            mat-sort-header
            sortActionDescription="Sort by token"
            *matHeaderCellDef>
            {{ i18n().token }}
          </th>
          <td
            mat-cell
            class="clickable"
            *matCellDef="let bonusToken"
            (click)="navToComment(bonusToken.commentId)"
            [ngClass]="{
              selected: selection.isSelected(bonusToken.token)
            }">
            {{ bonusToken.token }}
          </td>
        </ng-container>

        <!-- Date -->
        <ng-container
          matColumnDef="date"
          aria-hidden="true">
          <th
            mat-header-cell
            mat-sort-header
            sortActionDescription="Sort by date"
            *matHeaderCellDef>
            {{ i18n().date }}
          </th>
          <td
            mat-cell
            class="clickable"
            *matCellDef="let bonusToken"
            (click)="navToComment(bonusToken.commentId)">
            {{ getFormattedDate(bonusToken.createdAt) }}
          </td>
        </ng-container>

        <!-- Join button column -->
        <ng-container matColumnDef="button">
          <th
            mat-header-cell
            *matHeaderCellDef>
            <button
              mat-icon-button
              [matMenuTriggerFor]="moreActions">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu
              #moreActions="matMenu"
              xPosition="before">
              <button
                mat-menu-item
                (click)="export()">
                <mat-icon class="export material-icons-outlined">
                  file_download
                </mat-icon>
                <span class="delete-text">
                  {{ i18n().exportBonusArchive }}
                </span>
              </button>
              <button
                mat-menu-item
                (click)="openDeleteAllBonusDialog()">
                <mat-icon class="delete material-icons-outlined">
                  delete
                </mat-icon>
                <span class="delete-text">
                  {{ i18n().deleteAllTokens }}
                </span>
              </button>
            </mat-menu>
          </th>
          <td
            mat-cell
            *matCellDef="let bonusToken"
            aria-labelledby="empty">
            <button
              mat-icon-button
              [matMenuTriggerFor]="moreActions">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu
              #moreActions="matMenu"
              xPosition="before">
              <button
                mat-menu-item
                (click)="navToComment(bonusToken.commentId)">
                <mat-icon class="export material-icons-outlined">
                  article
                </mat-icon>
                <span class="delete-text">
                  {{ i18n().goTo }}
                </span>
              </button>
              <button
                mat-menu-item
                (click)="openDeleteSingleBonusDialog(bonusToken)">
                <mat-icon class="delete material-icons-outlined">
                  delete
                </mat-icon>
                <span class="delete-text">
                  {{ i18n().deleteToken }}
                </span>
              </button>
            </mat-menu>
          </td>
        </ng-container>
        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  }
  <div *ngIf="bonusTokens.length === 0">
    <span tabindex="0">{{ i18n().noBonus }}</span>
  </div>
</div>

<mat-dialog-actions>
  <button
    mat-button
    mat-dialog-close>
    {{ i18n().global.cancel }}
  </button>
  <span style="flex: 1"></span>
  <button
    mat-button
    (click)="openHelp()">
    {{ i18n().global.explain }}
  </button>
</mat-dialog-actions>
