.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.responsive-iframe {
  border-width: 0px;
  position: absolute;
  width: 100%;
  top: 64px;
  height: calc(100% - 144px);
}
