// Roboto Flex: opsz,slnt,wght@8..144,-10..0,100..1000

$font-style: oblique 0deg 10deg;
$font-weight: 100 1000;
$font-stretch: 100%;

/* cyrillic-ext */
@font-face {
  font-family: "Roboto Flex";
  font-style: $font-style;
  font-weight: $font-weight;
  font-stretch: $font-stretch;
  font-display: swap;
  src: url(/assets/fonts/roboto-flex-cyrillic-ext.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto Flex";
  font-style: $font-style;
  font-weight: $font-weight;
  font-stretch: $font-stretch;
  font-display: swap;
  src: url(/assets/fonts/roboto-flex-cyrillic.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
  font-family: "Roboto Flex";
  font-style: $font-style;
  font-weight: $font-weight;
  font-stretch: $font-stretch;
  font-display: swap;
  src: url(/assets/fonts/roboto-flex-greek.woff2) format("woff2");
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1,
    U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Roboto Flex";
  font-style: $font-style;
  font-weight: $font-weight;
  font-stretch: $font-stretch;
  font-display: swap;
  src: url(/assets/fonts/roboto-flex-vietnamese.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329,
    U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Roboto Flex";
  font-style: $font-style;
  font-weight: $font-weight;
  font-stretch: $font-stretch;
  font-display: swap;
  src: url(/assets/fonts/roboto-flex-latin-ext.woff2) format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
    U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
    U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto Flex";
  font-style: $font-style;
  font-weight: $font-weight;
  font-stretch: $font-stretch;
  font-display: swap;
  src: url(/assets/fonts/roboto-flex-latin.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

/* fallback Roboto Flex */
@font-face {
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src:
    url(/assets/fonts/roboto-flex.woff) format("woff"),
    url(/assets/fonts/roboto-flex.ttf) format("truetype");
}

/* Material Symbols */
@font-face {
  font-family: "Material Symbols Sharp";
  font-style: normal;
  font-weight: 100 700;
  src: url(/assets/fonts/material-symbols-sharp.woff2) format("woff2");
}

@font-face {
  font-family: "Material Symbols Sharp";
  font-style: normal;
  font-weight: 400;
  src:
    url(/assets/fonts/material-symbols-sharp-normal.woff) format("woff"),
    url(/assets/fonts/material-symbols-sharp-normal.ttf) format("truetype");
}
@font-face {
  font-family: "Material Symbols Sharp";
  font-style: normal;
  font-weight: 400;
  src:
    url(/assets/fonts/material-symbols-sharp-filled.woff) format("woff"),
    url(/assets/fonts/material-symbols-sharp-filled.ttf) format("truetype");
}

@font-face {
  font-family: "Material Symbols Rounded";
  font-style: normal;
  font-weight: 100 700;
  src: url(/assets/fonts/material-symbols-rounded.woff2) format("woff2");
}

@font-face {
  font-family: "Material Symbols Rounded";
  font-style: normal;
  font-weight: 400;
  src:
    url(/assets/fonts/material-symbols-rounded-normal.woff) format("woff"),
    url(/assets/fonts/material-symbols-rounded-normal.ttf) format("truetype");
}
@font-face {
  font-family: "Material Symbols Rounded";
  font-style: normal;
  font-weight: 400;
  src:
    url(/assets/fonts/material-symbols-rounded-filled.woff) format("woff"),
    url(/assets/fonts/material-symbols-rounded-filled.ttf) format("truetype");
}

@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  font-weight: 100 700;
  src: url(/assets/fonts/material-symbols-outlined.woff2) format("woff2");
}

@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  font-weight: 400;
  src:
    url(/assets/fonts/material-symbols-outlined-normal.woff) format("woff"),
    url(/assets/fonts/material-symbols-outlined-normal.ttf) format("truetype");
}
@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  font-weight: 400;
  src:
    url(/assets/fonts/material-symbols-outlined-filled.woff) format("woff"),
    url(/assets/fonts/material-symbols-outlined-filled.ttf) format("truetype");
}

.material-symbols-sharp {
  font-family: "Material Symbols Sharp";
}

.material-symbols-rounded {
  font-family: "Material Symbols Rounded";
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
}

.material-symbols-sharp,
.material-symbols-rounded,
.material-symbols-outlined {
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

@font-face {
  font-family: "STIX Two Math";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local("STIX Two Math"),
    url("/assets/fonts/STIX/STIXTwoMath-Regular.woff2") format("woff2"),
    url("/assets/fonts/STIX/STIXTwoMath-Regular.woff") format("woff");
}

@font-face {
  font-family: "Latin Modern Math";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local("Latin Modern Math"),
    url("/assets/fonts/Latin_Modern_Math/latinmodern-math.woff2")
      format("woff2"),
    url("/assets/fonts/Latin_Modern_Math/latinmodern-math.woff") format("woff");
}

math {
  font-family: "Latin Modern Math", math;
}
