<div data-nosnippet>
  <h1 class="slogan" tabindex="0">Any questions?</h1>

  <img
    tabindex="-1"
    src="/assets/background/auditorium.webp"
    srcset="
      /assets/background/auditorium.webp 1x,
      /assets/background/auditorium.webp 2x
    "
    loading="lazy"
    class="screenshot"
    width="811"
    height="185"
    alt="Auditorium"
  />

  <div tabindex="0">
    <p>
      Talks, lectures and since Corona also online seminars usually end with:
      »Any questions?«. And always nobody answers or the same ones always ask
      the questions. Hardly anyone in the lecture hall dares to answer, or the
      questions that one actually wanted to ask during the course of the lecture
      are forgotten. In the video conferencing system, you are not anonymous.
      The session may be recorded. The microphones are muted. The chat quickly
      becomes confusing; the teacher can hardly follow the comments and
      questions.
    </p>

    <p>
      If you want your lectures and online seminars to be reflected upon, you
      need a tool that allows you to ask questions anonymously and silently.
      Such an open source tool is available free of charge with »frag.jetzt«.
      Are there any concerns? Is the tool accessible, data protection compliant,
      immediately usable with any end device without training and without
      technical understanding? Three times yes.
    </p>

    <p>
      If I let »frag.jetzt« be used anonymously and thus without social control,
      do I not invite abuse? No, because the Q&A list can be moderated live by
      an assistant: Only questions appropriate to the lecture remain on the
      list. In addition, you can automatically move all new questions to the
      moderator: They only become public when you or your moderator release them
      individually.
    </p>

    <p>
      But I cannot answer all questions in the last ten minutes of my lecture or
      in the online seminar. Sure. This is where the collective tool aspect
      comes into play: everyone in the audience can rate each question, in other
      words, vote up or down. You can answer the questions rated highest by the
      audience immediately, the others, if you wish, later in »frag.jetzt« or in
      the course forum of the learning platform.
    </p>

    <p>
      You can also use the tool before the meeting, to collect questions from
      the participants and make them available to each other for weighting. This
      involves the participants even before the meeting, allows you to ask for
      expectations and previous knowledge and helps you to adapt your
      presentation or seminar accordingly.
    </p>
  </div>

  <h2 tabindex="0">Activate students online and in the lecture hall</h2>

  <p>
    Anyone who has held online seminars knows what it means to speak against a
    »digital wall«: Talking without feedback with a tendency to talk to oneself.
    You can't tell if the participants are really listening, understanding what
    they're hearing, or even present at all. Their cameras are turned off. But
    even when you see the auditorium, for example face-to-face in the lecture
    hall, there is this uncertainty. Malte Persike explains in a podcast on
    podcampus.de how to activate students with audience response systems,
    especially backchannel tools like »frag.jetzt«:
  </p>

  <a
    class="info"
    href="https://www.podcampus.de/nodes/RkPlg"
    target="_blank"
    rel="noopener"
  >
    Digitales Lehren, Lernen und Prüfen: Wie gelingt die Aktivierung von
    Studierenden?
  </a>

  <h2 tabindex="0">What's so special about »frag.jetzt«?</h2>
  <p>
    What makes our backchannel tool different from »Mentimeter«, »Slido«, »Poll
    Everywhere« and many other commercial feedback apps? It's the result of many
    years of experience with audience response systems in classroom and online
    teaching. Besides an intuitive usability, proven in empirical UX studies
    with hundreds of students, didactic and motivational criteria were decisive
    for the conception and development of the app, see our
    <a
      class="info"
      href="https://arsnova.thm.de/blog/en/homepage/"
      target="_blank"
      rel="noopener"
      >ARSnova blog</a
    >.
  </p>
  <div tabindex="0">
    <h2>ChatGPT for registered users</h2>
    <p>
      We have integrated the chatbot based on GPT language models into
      »frag.jetzt«. With the ability to define and combine prompt presets for
      room, role and content, the chatbot can give accurate and personalized
      responses.
    </p>
    <p>
      AI responses that have been verified by a moderator are easily accessible
      via the forum filter. The chatbot can optimize the learning process and
      the teacher's pedagogical support by providing automatic answers to
      frequently asked questions, additional information and explanations about
      the learning content as well as personalized learning paths.
    </p>

    <h2>Responding to or marking questions</h2>
    <p>
      Teachers and moderators can answer questions in the affirmative, in the
      negative, comment on them, or mark them with a star. Of course, the icons
      can also be used for other marking purposes. They can also be used as
      filter criteria to quickly find marked or commented questions. If the
      teacher has enabled the option, participants can also comment on all
      questions. Conversations are possible, i.e. comments on comments.
    </p>

    <h2>Awarding a bonus for »good questions«</h2>
    <p>
      The teacher can mark good questions with a star. The question poser
      receives an 8-digit code for each star acquired (»token«). The tokens can
      be redeemed for bonus points by sending an e-mail to the teacher. The
      teacher checks the submitted tokens against the awarded ones in the bonus
      archive of their room.
    </p>
    <h2>Responding to or marking questions</h2>
    <p>
      Teachers and moderators can answer questions in the affirmative, in the
      negative, comment on them, or mark them with a star. Of course, the icons
      can also be used for other marking purposes. They can also be used as
      filter criteria to quickly find marked or commented questions. If the
      teacher has enabled the option, participants can also comment on all
      questions. Conversations are possible, i.e. comments on comments.
    </p>
    <h2>Categorizing questions</h2>
    <p>
      The room creator and moderators can define categories (labels) for
      questions. The questioners can assign their question to one of the given
      categories, also afterwards. Categorized questions can be filtered by
      clicking on the label. For example, labeling allows the moderator in a
      panel discussion to filter questions from the audience by topic or
      addressee: label »Question to Mr. Biden«, label »Question to Mr. Trump« …
    </p>

    <h2>Bookmarking questions</h2>
    <p>
      Room creators and participants can individually bookmark questions. The
      moderators' bookmarks are visible to each other and to the teacher. This
      allows the moderators to collectively pre-select a session's Q&A session.
    </p>

    <h2>
      Keyword extraction: Analyzing and optimizing questions with AI support
    </h2>
    <p>
      Over the course of an online course, hundreds of questions can quickly
      accumulate in the back channel, making it difficult to keep track of them
      after the fact. This is where AI with NLP (Natural Language Processing)
      helps to keep track: The nouns in the texts are analyzed for their
      grammatical position in the sentence and suggested as keywords to the
      questioner for thematic classification.
    </p>
    <p>
      Well aware that the linguistic quality of an anonymous text is generally
      low in terms of spelling, grammar, punctuation and style, »frag.jetzt«
      sends the text to the online translation service
      <a
        class="info"
        href="https://deepl.com"
        target="_blank"
        rel="noreferrer noopener"
        >»DeepL«
      </a>

      and translates it into a foreign language, for example German into
      English. The AI behind DeepL ignores just about any linguistic deficits.
      The subsequent back translation into the source language transforms a
      poorly written source text into a formally correct and easily readable
      text without distorting the content.
    </p>

    <p>
      The thus cleaned text is passed on to the NLP software
      <a
        class="info"
        href="https://spacy.io/"
        target="_blank"
        rel="noreferrer noopener"
        >»spaCy«
      </a>

      in order to extract nouns by case as keywords from it. In a final step, we
      check whether the generated keyword is indexed in Wikipedia. Only then
      will it be displayed.
    </p>

    <p>
      The result is impressive: We create a word cloud from the AI-generated
      keywords of all questions, which we aptly call »topic cloud« in
      »frag.jetzt«.
    </p>

    <h2>Question focus: Presenting questions in full view</h2>
    <p>
      For the discussion of the questions on the beamer, they can be presented
      individually in full view. Advancing to the next or previous question is
      conveniently done with the arrow keys. You can also activate the display
      in "autofocus mode": Then, incoming new questions are automatically shown
      in full view.
    </p>
    <p>
      On the Q&A list, constantly new questions or ratings can make reading and
      presenting difficult, as the positions of the questions change. With the
      pause button the question stream can be frozen. However, new questions or
      ratings are still possible.
    </p>

    <h2>Searching, sorting and filtering questions</h2>
    <p>
      The quick location of specific questions is made possible by search, sort
      and filter options. The full text search also includes the answers.
      Sorting is possible by time, rating and the degree of controversy. By
      clicking on the label icon of a question, all questions of this category
      are displayed. By clicking on the user icon of a question, all questions
      of this user will be displayed. This allows you to assess the distribution
      of questions among the question posers: How many people participate? Which
      questions does one and the same person ask? The following filter criteria
      can be selected: bonus-awarded, conversations, bookmarked, not bookmarked,
      answered, unanswered, question number, censored, and own questions.
    </p>

    <h2>Identifying controversial questions</h2>
    <p>
      To identify controversial questions, that is, questions where the positive
      and negative votes are balanced and have a value close to zero in the Q&A
      forum, we introduce an innovative sorting criterion: the degree of
      controversy or contradiction. First, we form the difference between
      positive and negative votes and subtract it from the total number of
      votes. What remains is the absolute number of controversial votes. We
      divide this value by the total number of votes to get the percentage.
      Finally, we stretch the percentage with an empirical term so that
      questions with very few controversial votes are not classified as more
      controversial than questions with many votes. A simple calculation with
      great power for controversial question rounds!
    </p>

    <h2>Flash Polls</h2>
    <p>
      The flash poll lives up to its name: it allows feedback in real time and
      can be created with just one click. Our feature offers numerous survey
      templates with single-choice answers such as emoticons, ABCD, school
      grades, or feedback on the comprehensibility of a presentation or meeting
      expectations. You can format your questions with Markdown and insert
      images. Participants will not only see the answer options, but also the
      question text with images. Display of incoming votes can be enabled to
      increase engagement. Flash polls encourage participation and formatively
      provide valuable insights to improve your event.
    </p>

    <h2>Quiz rally with »antworte.jetzt«</h2>
    <p>
      <img
        tabindex="-1"
        src="/assets/images/Countdown.webp"
        loading="lazy"
        class="screenshot"
        width="800"
        height="335"
        alt="antworte.jetzt"
      />
      »frag.jetzt« has a quizzing option: We have included our popular
      game-based quiz app »arsnova.click«, adapted it a bit and renamed it to
      »antworte.jetzt«. The
      <a
        class="info"
        href="https://antworte.jetzt/info/about"
        target="_blank"
        rel="noreferrer noopener"
        >info page
      </a>
      informs you about its features. The score in the ranking is calculated
      taking into account the difficulty of the quiz question and the brevity of
      the answer time. If all quiz questions intended for a bonus are answered
      correctly, the player receives a bonus code, which can be redeemed by
      sending an e-mail to the teacher with one click.
    </p>

    <h2>Brainstorming</h2>

    <p>
      <img
        alt="antworte.jetzt"
        class="screenshot"
        src="/assets/images/antworte_jetzt.webp"
        loading="lazy"
        tabindex="-1"
        width="640"
        height="344"
      />

      With »frag.jetzt«, brainstorming can be carried out in the spirit of the
      creativity method. The question is displayed as the heading of a word
      cloud, so that it is always clear to all participants what they should
      develop and formulate ideas for. The idea input is anonymous, as with
      questioning, and can be done as often as desired.
    </p>
    <p>
      All ideas are displayed in the word cloud synchronously with the input. If
      only one word is to be entered for an idea, the AI lemmatizes it, i.e.
      brings it into its basic form, so that multiple entries are reliably
      recognized and immediately visible due to a larger font.
    </p>
    <p>
      In the discussion phase of the brainstorming, the ideas can be upgraded or
      downgraded by all participants by moving the mouse pointer over the entry
      and clicking on the corresponding icon. The ratings have a direct
      influence on the size calculation of the font, so that the word cloud
      updates dynamically. The moderator can edit or ban individual entries.
      When entering an idea, participants can include their name. The idea
      providers become visible in the Q&A list if the corresponding filter has
      been activated.
    </p>

    <h2>Mail notification</h2>
    <p>
      Registered users can be informed by mail about new questions and answers.
      Weekday and time of the mail notification can be set.
    </p>

    <h2>Free of charge with full functionality</h2>
    <p>
      Any number of rooms can be created free of charge as a guest or registered
      user. The number of participating users in a room is not limited. Only the
      rooms of registered users remain permanently. However, 180 days after the
      last use of a room it will be deleted automatically. All questions can be
      saved with their scores and comments in an Excel spreadsheet.
    </p>

    <h2>Accessible</h2>
    <p>
      The user interface meets the requirements for readability according to
      WCAG 2.1 AA. Appropriate display options are available for the beamer
      presentation and for visually impaired persons. In particular, the font
      size of the questions can be scaled. In addition to the room code, a room
      can also be entered via an automatically generated direct link.
    </p>

    <h2>Data protection</h2>
    <p>
      »frag.jetzt« can be used completely anonymously when registering as a
      guest. The accounts of registered users are stored and managed in
      accordance with the data protection regulations of the DSGVO. The program
      code is »Open Source Software« and can be viewed on GitHub.
    </p>

    <h2>Usage options</h2>
    <p>
      »frag.jetzt« is operated as free »Software as a Service« by TransMIT GmbH,
      see imprint. If you want to run »frag.jetzt« on your own server, you will
      find a Docker installation guide on
      <a
        class="info"
        href="https://github.com/thm-projects/frag.jetzt/blob/master/README.md"
        target="_blank"
        rel="noopener"
        >GitHub
      </a>
      or you can commission TransMit GmbH with it.
    </p>

    <h2>»Progressive Web App« (PWA)</h2>
    <p>
      Although an ordinary Web page, it behaves like an app from the app store.
      You can install it from within the browser without downloading: »Add to
      Home Page«. After that it will start like an ordinary app. As a PWA, it
      runs on any smartphone, no matter what operating system, no matter what
      browser. So your audience will always be ready to use »frag.jetzt« on
      their mobile devices.
    </p>
    <h2>Free Software and without advertising</h2>
    <p>
      Since winter semester 2019/20 »frag.jetzt« is an open source project of
      the Technische Hochschule Mittelhessen, THM. The website is
      manufacturer-neutral and free of advertising. Further development is
      guaranteed for the next years. Then the project manager will retire and
      will run the project as a hobby. But until then, hundreds of computer
      science students of THM will be engaged and continuously working on all
      aspects of software development (user experience, high availability and
      security) —not for money, but for credit points and good grades.
    </p>
  </div>

  <h3 tabindex="0">Mobile phone use in the lecture hall</h3>
  <div tabindex="0">
    <p>
      The use of the smartphone during the lecture naturally entails a high risk
      of distraction. We have learned from our many years of experience with
      audience response systems in lecture halls, how to didactically approach
      the risk of distraction:
    </p>

    <ol>
      <li>
        <p>Mobile phone use during the lecture:</p>
        <p>
          An assistant moderates the Q&A list on site or from a distance. 10
          minutes before the end of the lecture, the teacher answers 2-3 top
          questions on the beamer. What if I don't have an assistant available?
          Ask someone from the front row to take over this job. She or he won't
          say no. Create a moderator guest code for this case.
        </p>
      </li>
      <li>
        <p>Mobile phone use only during the break:</p>
        <p>
          The teacher announces the room code during the break and moderates the
          questions himself. After the break she answers 2-3 top questions.
        </p>
      </li>
      <li>
        <p>No mobile phone use during the lecture (A):</p>
        <p>
          The teacher creates a new room at the end of each lecture. Students
          can ask and rate questions at home. The Q&A list is moderated by an
          assistant or the teacher himself. In the first 10 minutes of the next
          lecture the teacher answers 2-3 top questions.
        </p>
      </li>
      <li>
        <p>No mobile phone use during the lecture (B):</p>
        <p>
          The teacher creates a room for the entire duration of the course. An
          assistant moderates the Q&A list during the semester. The teacher
          marks the relevant questions and deletes all others. The Q&A list thus
          serves to reflect on the lecture contents and to prepare for the exam.
        </p>
      </li>
    </ol>
  </div>

  <h2 tabindex="0">Source code and development documentation</h2>

  <p tabindex="0">
    »frag.jetzt« is an established study object in computer science education at
    the Technische Hochschule Mittelhessen (THM). The development is done
    according to the state of the art in computer science. All development
    phases are documented according to engineering standards. Since »frag.jetzt«
    is an open source project, anyone can access the source code and design
    documents and participate in the ongoing development.
  </p>

  <ul>
    <li>
      <a
        class="info"
        href="https://github.com/thm-projects/frag.jetzt/blob/master/README.md"
        target="_blank"
        rel="noopener"
        >Source code on GitHub</a
      >
    </li>
    <li>
      <a
        class="info"
        href="/assets/images/Use_Case_Diagram.svg"
        target="_blank"
        rel="noopener"
        >Use case diagram</a
      >
    </li>
    <li>
      <a
        class="info"
        href="https://git.thm.de/arsnova/frag.jetzt/-/raw/staging/docs/diagrams/Glossary.pdf"
        target="_blank"
        rel="noopener"
        >Glossary of terms</a
      >
    </li>
    <li>
      <a
        class="info"
        href="assets/images/Domain_Diagram.svg"
        target="_blank"
        rel="noopener"
        >Domain diagram</a
      >
    </li>
    <li>
      <a
        class="info"
        href="assets/images/activity_diagram_PLE_with_ai_assistant.svg"
        target="_blank"
        rel="noopener"
        >Workflow-Diagramm working in a room with ai assistants</a
      >
    </li>
    <li>
      <a
        class="info"
        href="assets/images/activity_diagram_bonus_option.svg"
        target="_blank"
        rel="noopener"
        >Workflow diagram bonus awarding</a
      >
    </li>
    <li>
      <a
        class="info"
        href="assets/images/activity_diagram_brainstorming.svg"
        target="_blank"
        rel="noopener"
        >Workflow diagram brainstorming</a
      >
    </li>
  </ul>
</div>
