.slogan {
  text-align: center;
  margin-bottom: 1em;
}

.screenshot {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  max-width: 100%;
  height: auto;
  outline: none;
  border-radius: 8px;
}
