<ng-template
  #LiveIcon
  let-isPaused="isPaused">
  <div
    [class.live-icon]="true"
    [class.live-icon-pause]="isPaused"
    [class.live-icon-active]="!isPaused">
    <div class="icon-container">
      <mat-icon [class.hide]="isPaused">fiber_manual_record</mat-icon>
      <mat-icon [class.hide]="!isPaused">pause</mat-icon>
    </div>
    <span>
      {{ translateKey + ".misc." + (isPaused ? "paused" : "live") | translate }}
    </span>
  </div>
</ng-template>

<div
  class="row items-start"
  style="padding-top: 16px; padding-right: 16px"
  *ngIf="isProduction">
  <span matDialogTitle>{{ translateKey + ".title" | translate }}</span>
  <div [class.title-settings]="true">
    <ng-container
      *ngTemplateOutlet="
        LiveIcon;
        context: { isPaused: isPaused }
      "></ng-container>
    <div [class.fill]="true"></div>
    <div [class.title-settings-right]="true">
      <span *ngIf="is2ndPhasePeerInstruction && !isMobile">
        {{ translateKey + ".peer-instruction.second-round" | translate }}
      </span>
      <ng-container>
        <ng-container *ngIf="isMobile">
          <button
            mat-icon-button
            *ngIf="currentRole"
            (click)="openPeerInstruction()">
            <mat-icon>repeat</mat-icon>
          </button>
        </ng-container>
        <ng-container *ngIf="!isMobile">
          <button
            mat-flat-button
            *ngIf="currentRole"
            (click)="openPeerInstruction()">
            <mat-icon>repeat</mat-icon>
            {{ translateKey + ".peer-instruction.name" | translate }}
          </button>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
<mat-dialog-content *ngIf="isProduction; else dialogContent">
  <ng-container *ngTemplateOutlet="dialogContent"></ng-container>
</mat-dialog-content>
<ng-template #dialogContent>
  <ng-container *ngIf="livepollSession">
    <ng-container
      *ngIf="currentRole && livepollSession.active && !isConclusion">
      <app-livepoll-settings [parent]="this"></app-livepoll-settings>
    </ng-container>

    <div>
      <p *ngIf="!isProduction">
        {{ translateKey + ".edit.view-as-participant" | translate }}
      </p>
    </div>

    <div
      [class.markdown-container]="true"
      #markdownContainer>
      <!-- TODO: <markdown [data]="livepollSession.title"></markdown> -->
    </div>

    <div [class.statistics-settings-container]="true">
      <div [class.statistics-options]="true">
        <button
          mat-stroked-button
          *ngIf="isProduction && currentRole"
          (click)="resetResults()">
          <mat-icon>undo</mat-icon>
          {{ translateKey + ".edit.reset" | translate }}
        </button>
      </div>
      <div [class.statistics-info]="true">
        <div
          @AnimateInOut
          [matTooltip]="
            translateKey + '.statistics.active-user-count.tooltip' | translate
          "
          *ngIf="livepollSession.viewsVisible">
          <mat-icon>visibility</mat-icon>
          <span>{{ userCount }}</span>
        </div>
        <div
          @AnimateInOut
          [matTooltip]="
            translateKey + '.statistics.room-user-count.tooltip' | translate
          "
          *ngIf="livepollSession.viewsVisible">
          <mat-icon>people</mat-icon>
          <span>{{ participantCount }}</span>
        </div>
        <div
          @AnimateInOut
          *ngIf="livepollSession.resultVisible">
          <span>
            {{ translateKey + ".statistics.vote-count.text" | translate }}:
          </span>
          <span>{{ totalVotes }}</span>
        </div>
      </div>
    </div>

    <ng-container *ngIf="options && livepollSession.resultVisible">
      <app-livepoll-statistic
        @AnimateInOut
        [options]="this.options"
        [template]="this.template"
        [translateKey]="this.translateKey"
        [votes]="this.votes"
        [totalVotes]="this.totalVotes"></app-livepoll-statistic>
    </ng-container>

    <div
      [class.grid-layout]="true"
      *ngIf="!isConclusion && livepollSession.active">
      <div
        [ngClass]="'reverse-' + !!template.reverse + ' grid-' + template.isGrid"
        [ngStyle]="{ 'grid-template-rows': 'repeat(' + rowHeight + ',1fr)' }"
        *ngIf="template">
        <ng-container *ngIf="template.symbols">
          <ng-container *ngFor="let symbol of template.symbols; index as i">
            <ng-container
              *ngTemplateOutlet="
                option;
                context: {
                  i: i,
                  symbol: symbol
                }
              "></ng-container>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="template.length">
          <ng-container
            *ngFor="let symbol of [].constructor(template.length); index as i">
            <ng-container
              *ngTemplateOutlet="
                option;
                context: {
                  i: i,
                  symbol: i
                }
              "></ng-container>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </ng-container>
</ng-template>

<mat-dialog-actions
  *ngIf="isProduction"
  [class.no-pad]="true"
  #dialogActions>
  <div [class.left-container]="true">
    <ng-container>
      <ng-container *ngIf="isMobile">
        <button
          mat-icon-button
          [class.__primary]="true"
          *ngIf="currentRole && !isConclusion"
          (click)="isPaused ? play() : pause()">
          <mat-icon>{{ isPaused ? "play_circle" : "pause_circle" }}</mat-icon>
        </button>
        <button
          mat-icon-button
          [class.__cancel]="true"
          *ngIf="currentRole && isProduction && !isConclusion"
          (click)="close('delete')">
          <mat-icon>stop_circle</mat-icon>
        </button>
      </ng-container>
      <ng-container *ngIf="!isMobile">
        <button
          mat-flat-button
          [class.__primary]="true"
          *ngIf="currentRole && !isConclusion"
          (click)="isPaused ? play() : pause()">
          <mat-icon>{{ isPaused ? "play_circle" : "pause_circle" }}</mat-icon>
          <span>
            {{
              translateKey + ".edit." + (isPaused ? "continue" : "pause")
                | translate
            }}
          </span>
        </button>
        <button
          mat-button
          *ngIf="currentRole && isProduction && !isConclusion"
          (click)="close('delete')">
          <mat-icon>stop_circle</mat-icon>
          {{ translateKey + ".edit.delete" | translate }}
        </button>
      </ng-container>
    </ng-container>
  </div>
  <div [class.fill]="true"></div>
  <div [class.right-container]="true">
    <button
      mat-button
      *ngIf="isProduction"
      (click)="close('close')">
      {{ translateKey + ".edit.close" | translate }}
    </button>
    <ng-container>
      <ng-container *ngIf="isMobile">
        <button
          mat-icon-button
          [class.__secondary]="true"
          *ngIf="currentRole"
          (click)="close('reset')">
          <mat-icon>add_circle</mat-icon>
        </button>
      </ng-container>
      <ng-container *ngIf="!isMobile">
        <button
          mat-flat-button
          [class.__secondary]="true"
          *ngIf="currentRole"
          (click)="close('reset')">
          <mat-icon>add_circle</mat-icon>
          {{ translateKey + ".edit.new" | translate }}
        </button>
      </ng-container>
    </ng-container>
  </div>
</mat-dialog-actions>

<ng-template
  #option
  let-i="i"
  let-symbol="symbol">
  <button
    mat-flat-button
    class="secondary"
    [class.secondary]="this.livepollVote?.voteIndex !== i"
    [class.tertiary]="this.livepollVote?.voteIndex === i"
    [class.translated-text]="this.template.translate && !this.template.isPlain"
    [class.button-vote-text-as-icon]="
      this.template.translate && this.template.isPlain
    "
    [class.button-vote-material-icons]="this.template.symbols"
    [class.vote-text]="true"
    [disabled]="isPaused"
    [ngStyle]="{
      order: i * (template.reverse ? -1 : 1)
    }"
    (click)="vote(i)">
    <ng-container
      *ngTemplateOutlet="
        optionEntry;
        context: { i: i, symbol: symbol }
      "></ng-container>
  </button>
</ng-template>

<ng-template
  #optionEntry
  let-i="i"
  let-symbol="symbol">
  <ng-container *ngIf="template.isPlain">
    <span
      [class.vote-plain-text]="true"
      [ngStyle]="
        template.translate ? template.style?.text : template.style?.plainIcon
      ">
      {{
        template.translate
          ? (translateKey + "." + "option-" + template.name! | translate)[i]
          : symbol
      }}
    </span>
  </ng-container>
  <ng-container *ngIf="!template.isPlain">
    <mat-icon [ngStyle]="template.style?.matIcon">
      {{ symbol }}
    </mat-icon>
  </ng-container>
</ng-template>
