<div data-nosnippet>
  <p>
    The development of »frag.jetzt« was funded by the state of Hesse as part of the university network project
    <a
      href="https://www.hessenhub.de/projekt/"
      class="info"
      target="_blank"
      rel="noopener"
      >Digitally Supported Teaching and Learning in Hesse</a>.
  </p>

  <a
    href="https://www.hessenhub.de/projekt/"
    class="info"
    target="_blank"
    rel="noopener"
  >
    <img
      src="/assets/images/HMWK.webp"
      loading="lazy"
      alt="HMWK Logo"
      width="175"
      height="79"
      style="box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 8px 8px rgba(0, 0, 0, 0.1);
      border-radius: 8px;"
    />
  </a>

  <h2>Accessibility Statement</h2>

  <p>
    »frag.jetzt« is committed to digital accessibility for people with disabilities. We continually improve usability for everyone and apply relevant accessibility standards. We specifically address visually impaired users of »frag.jetzt«.
  </p>

  <h2>Compliance Status</h2>

  <p>
    The
    <a href="https://www.w3.org/WAI/standards-guidelines/wcag/" class="info"
      >Web Content Accessibility Guidelines</a
    >
    (WCAG) define requirements for designers and developers to improve access for people with disabilities. There are three levels of compliance: Level A, AA, and AAA. »frag.jetzt« is partially compliant with WCAG 2.1 Level AA. Partial compliance means that some parts of the content do not fully meet the accessibility standard.
  </p>

  <h2>Operator of »frag.jetzt«</h2>

  <p>
    The operation of the
    <a
      href="https://github.com/thm-projects/frag.jetzt"
      target="_blank"
      class="info"
      rel="noopener"
      >Open-Source</a
    > web application »frag.jetzt« is a free service ("Software as a Service") provided by TransMIT-Gesellschaft für Technologietransfer mbH, Project Area for Mobile Applications.<br />
    <br />
    Kerkrader Straße 3<br />
    D-35394 Gießen<br />
    <br />
    c/o THM<br />
    Department of Mathematics, Natural Sciences, and Computer Science<br />
    Prof. Dr. Klaus Quibeldey-Cirkel<br />
    Chair of Software Engineering<br />
    <br />
    Wiesenstraße 14<br />
    D-35390 Gießen<br />
    <br />
    <a href="tel:+496413092450" class="info">+49 641 309-2450</a>
    <br />
    <a href="mailto:klaus.quibeldey-cirkel@transmit.de" class="info"
      >klaus.quibeldey-cirkel&#64;transmit.de</a
    >
    <br />
    <br />
    Registered office: Gießen<br />
    Website:
    <a href="https://transmit.de" class="info">transmit.de</a>
    <br />
    Legal form: GmbH<br />
    District court: Gießen HRB 3036<br />
    VAT ID: DE 188 685 037<br />
    <br />
    »frag.jetzt« is operated on a
    <a href="https://tools.keycdn.com/geo?host=frag.jetzt" class="info"
      >server in Germany</a
    >
    <br />
    <br />
  </p>
</div>
