<div data-nosnippet>
  <p>
    Die Entwicklung von »frag.jetzt« wurde im Rahmen des
    Hochschulverbundprojektes
    <a
      href="https://www.hessenhub.de/projekt/"
      class="info"
      target="_blank"
      rel="noopener"
    >
      »Digital gestütztes Lehren und Lernen in Hessen«</a> vom Land Hessen gefördert.
  </p>

  <a
    href="https://www.hessenhub.de/projekt/"
    class="info"
    target="_blank"
    rel="noopener"
  >
    <img
      src="/assets/images/HMWK.webp"
      loading="lazy"
      alt="HMWK-Logo"
      width="175"
      height="79"
      style="box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 8px 8px rgba(0, 0, 0, 0.1);
      border-radius: 8px;"
    />
  </a>

  <h2>Erklärung zur Zugänglichkeit</h2>

  <p>
    »frag.jetzt« setzt sich für die digitale Zugänglichkeit von Menschen mit
    Handicaps ein. Wir verbessern kontinuierlich die Benutzerfreundlichkeit für
    alle und wenden die relevanten Barrierefreiheitsstandards an. Wir
    adressieren insbesondere sehbeeinträchtigte Nutzer*innen von »frag.jetzt«.
  </p>

  <h2>Konformitätsstatus</h2>

  <p>
    Die
    <a href="https://www.w3.org/WAI/standards-guidelines/wcag/" class="info"
      >Web Content Accessibility Guide&shy;lines</a
    >
    (WCAG) definieren Anforderungen an Designer*innen und Entwickler*innen, um
    den Zugang für Menschen mit Einschränkungen zu verbessern. Es werden drei
    Stufen der Konformität unterschieden: Level A, AA und AAA. »frag.jetzt« ist
    teilweise konform mit WCAG 2.1 Level AA. Teilkonform bedeutet, dass einige
    Teile des Inhalts nicht vollständig dem Standard für Barrierefreiheit
    entsprechen.
  </p>

  <h2>Betreiber von »frag.jetzt«</h2>

  <p>
    Der Betrieb der
    <a
      href="https://github.com/thm-projects/frag.jetzt"
      target="_blank"
      class="info"
      rel="noopener"
      >Open-Source</a
    >-Webanwendung »frag.jetzt« ist eine kostenlose Dienstleistung
    (»Soft&shy;ware as a Service«) der TransMIT-Gesellschaft für
    Technologietransfer mbH, Projektbereich für mobile
    An&shy;wen&shy;dun&shy;gen.<br />
    <br />
    Kerkrader Straße 3<br />
    D-35394 Gießen<br />
    <br />
    c/o THM<br />
    Fachbereich Mathematik, Naturwissenschaften und Informatik<br />
    Prof. Dr. Klaus Quibeldey-Cirkel<br />
    Lehrstuhl für Softwaretechnik<br />
    <br />
    Wiesenstraße 14<br />
    D-35390 Gießen<br />
    <br />
    <a href="tel:+496413092450" class="info">+49 641 309-2450</a>
    <br />
    <a href="mailto:klaus.quibeldey-cirkel@transmit.de" class="info"
      >klaus.quibeldey-cirkel&#64;transmit.de</a
    >
    <br />
    <br />
    Sitz der Gesellschaft: Gießen<br />
    Website:
    <a href="https://transmit.de" class="info">transmit.de</a>
    <br />
    Rechtsform: GmbH<br />
    Amtsgericht: Gießen HRB 3036<br />
    USt-IdNr.: DE 188 685 037<br />
    <br />
    »frag.jetzt« wird auf einem
    <a href="https://tools.keycdn.com/geo?host=frag.jetzt" class="info"
      >Server in Deutschland</a
    >
    betrieben.
    <br />
    <br />
  </p>
</div>
