.dialog-action-buttons:not(.no-spacing), .buttons {
  margin: 10px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
}

.cancel-button {
  background-color: transparent;
  color: var(--on-dialog);

  &:hover {
    outline: var(--cancel) solid 2px;
  }
}

.primary-confirm-button {
  background-color: transparent;
  color: var(--primary);
  outline: var(--primary) solid 2px;
  margin-left: 15px !important;

  &:hover {
    background-color: var(--primary);
    color: var(--on-primary);
  }
}

.alert-confirm-button {
  background-color: transparent;
  color: var(--primary);
  outline: var(--primary) solid 2px;
  margin-left: 15px !important;

  &:hover {
    background-color: var(--primary);
    color: var(--on-primary);
  }
}

.spinner-container {
  font-size: 14px;
  margin-top: -2px;
}
