<h2 tabindex="0" mat-dialog-title>
  {{ "footer.motd-title-main" | translate }}
</h2>

<mat-dialog-content>
  <mat-tab-group>
    <!-- Unread -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="material-icons-outlined">newspaper</mat-icon>
        &nbsp;
        {{ "footer.motd-title-new" | translate }}
      </ng-template>
      @for (message of unreadMotds; track message) {
      <app-motd-message (clickRead)="onSwitch($event)" [message]="message"></app-motd-message>
      } @empty {
      <p class="empty">{{ "footer.motd-empty-new" | translate }}</p>
      }
    </mat-tab>
    <!-- Read -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="material-icons-outlined">inventory_2</mat-icon>
        &nbsp;
        {{ "footer.motd-title-old" | translate }}
      </ng-template>
      @for (message of readMotds; track message) {
      <app-motd-message (clickRead)="onSwitch($event)" [message]="message"></app-motd-message>
      } @empty {
      <p class="empty">{{ "footer.motd-empty-old" | translate }}</p>
      }
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>
    {{ "imprint.cancel" | translate }}
  </button>
  <span style="flex: 1"></span>
  <button mat-button (click)="markAllAsRead()">
    {{ "footer.motd-mark-all-read" | translate }}
  </button>
</mat-dialog-actions>